.main-chat
  .main-chat__header
    .left-box
      .talk-name
        -# = @group.name
        %p gest1とのtalk
      .member-list
        %p Menber:
        -# - @group.users.each do |user|
        -#   = user.name 
  
        -# = link_to edit_group_path(@group) do

    .edit-btn
      Edit

  .main-chat__messages
    -# = render @messages

  .main-chat__form
    = form_for  messages_index_path do |f|
      .main-chat__form__new_message
        .main-chat__form__new_message__input-box
          -# = f.text_field :content, class: 'main-chat__form__new_message__input-box__message', placeholder: 'type a message' 
          .main-chat__form__new_message__input-box__image
        -#       = f.label :image, class: 'image' do
        -#         = icon('fas', 'image' ,class: 'icon')
        -#         = f.file_field :image, class: 'images'
        -# = f.submit 'send', class: 'main-chat__form__new_message__send-btn'
    