* {
  box-sizing: border-box;
}

.m-wrapper{
  // margin: 80px auto;
  height: 100Vh;
  width: 100Vw;
  background-image: url(/assets/3587967_l.png);
  background-size: cover;
  display: flex;

  .side-bar{
    height: 100vh;
    width: 300px;

    &__header{
      height: 100px;
      display: flex;
      padding: 0px 0px 0px 60px;
      align-items: center;

      &__items {
        display: flex;
        width: 70%;
        height: 105%;
        background-image: url(/assets/8969062.PNG);
        background-size: cover;
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        justify-content: space-between;
        margin-top: 20px;

        .user {
          padding: 40px 0px 0px 30px;
        }

        .icons {
          display: flex;
          margin: 0 auto;
          padding-top: 40px;

          a {
            color: #ffffff;
            margin-left: 5px;
            text-decoration: none;
          }
        }
      }
    }

    &__talk-list {
      height: calc(100vh - 140px);
      // overflow: scroll;
      // line-height: 40px;
        
      .side-bar__talk-list__summary {
        color: #ffffff;
        margin-bottom: 40px;
        // padding: 20px;
        margin: 80px;

        a {
          text-decoration: none;
          color: white;
          font-weight: bold;
          font-size: 20px;
          display: block;
        }
        .talk-list_link {
          text-decoration: none;
        }
        .latest-message {
          font-size: 11px;
          color:white;
          font-weight: bold;
          font-size: 12px;
          margin-bottom: 20px;
        }
      }
    }
  }

  .main-chat {
    width: calc(100vw - 600px);

    &__header {
      height: 100px;
      padding: 0px 40px 0px 40px; 
      display: flex;
      justify-content: space-between;

      .left-box {
        padding: 35px 0px 15px 0px; 

        .talk-name {
          font-size: 20px;
          color: white;
          margin-bottom: 15px;
        }
        
        .member-list {
          display: flex;
          font-size: 12px;
          color: white;
          
          p {
            margin-right: 5px;
          }
        }
      }
      .edit-btn {
        display: flex;
        border: solid 1px #38aef0;
        width: 72px;
        height: 40px;
        margin-top: 28px;
        padding: 0px 20px 0px 20px; 
        font-size: 16px;
        color: #38aef0;
        line-height: 40px;
        background-color: white;
      }
      a {
        text-decoration: none;
      }
    }

    .main-chat__messages {
      height: calc(100vh - 190px);
      padding: 35px 160px 35px 160px; 
      overflow: scroll;
      background-image: url(/assets/705006.jpeg);
      background-size: cover;

      .decoration {
        margin: 10px auto;
        background-image: url(/assets/285325teaset.png);
        background-size: cover;
        height: 50px;
        width: 330px;
        margin-bottom: 20px;
      }

      &__message{
        display: block;

        .data {
          display: flex;

          .talker{
            font-size: 14px;
            color: red;
          }

          .time {
            font-size: 12px;
            color: #999999;
            margin-left: 10px;
          }
        }

        .content {
          font-size: 18px;
          color: #333333;
          font-weight: bold;
          margin-bottom: 10px;
        }
      }
    }

    .form {
      height: 90px;
      background-color: #c0842a;
      padding: 20px 40px;
      
      .new_message {
        display: flex;
        width: 100%;
        height: 50px;
        color: #000;
        

        .input-box {
          display: flex;
          position: relative;
          width: 100%;

          &__message {
            width: 100%;
            padding-left: 10px;
          }

          &__image {
            position: absolute;
            top:16px;
            right:10px;
          
            
            .icon {
              color: #000;
            }

            .images {
              color: #000;
              display: none;
            }
          }
        }


        .send-btn {
          border: solid 1px #38aef0;
          width: 100px;
          height: 50px;
          font-size: 16px;
          background-color: #38aef0;
          line-height: 40px;
          margin-left: 20px;
          color: white;
        }

        a {
          text-decoration: none;
        }
      }
    }
  }
}

